.Button {
  cursor: pointer;
  color: var(--black);
  padding: 6px 15px;
  transition: transform 0.1s ease-out;

  &:hover {
    transition: background-color 0.3s ease;
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }

  &:focus {
    outline: 2px solid var(--purple);
    transform: scale(1.05);
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--grey);

  &:focus {
    border-radius: 5px;
  }
}

.outline {
  border: 1px solid var(--purple);
  background: none;
  padding: 18px 27px;
  border-radius: 15px;
}

.purple {
  background: var(--purple);
  color: var(--white);
  border: 1px solid var(--purple);
  padding: 18px 27px;
  border-radius: 15px;

  &:focus {
    border-radius: 15px;
  }
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
