.MainPage {
  padding: 20px 20px 20px 45px;
  height: 100vh;
  width: 100%;
  overflow: auto;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  gap: 100px;
}

.form {
  width: 50%;
  border: 1px solid var(--border);
  box-shadow: 1px 2px var(--box-shadow), -1px 3px 4px 3px var(--box-shadow);
  padding: 15px 10px;
  gap: 5px;
  border-radius: 5px;
  position: relative;

  &:hover {
    box-shadow: 2px 4px var(--box-shadow), -2px 5px 4px 3px var(--box-shadow);
  }
}

.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.warning {
  color: var(--grey);
  font: var(--font-s);
  margin-bottom: 5px;
}

.drag {
  background-color: var(--purple);

  .icon {
    z-index: 1;
  }

  .label,
  .labelSpan,
  .input,
  .warning,
  .fileList {
    visibility: hidden;
    z-index: -10000;
  }
}

.file {
  font: var(--font-s);
  width: fit-content;
  padding: 3px;
  border: 1px dashed black;
  margin-bottom: 5px;
}

.icon {
  position: absolute;
  pointer-events: none;
  top: 40%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  z-index: -1000;
}

.btns {
  display: flex;
}

.resetBtn {
  margin-left: auto;
}

.labelSpan {
  color: var(--purple);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}