.MainPage {
  padding: 20px 20px 20px 45px;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.select,
.dragOver {
  display: flex;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid var(--border);
  box-shadow: -1px 5px var(--box-shadow);
  width: 45%;
  height: 80px;
  padding: 15px 10px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: -3px 4px var(--box-shadow-hover);
  }

  span {
    color: var(--purple);
  }
}

.dragOver {
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
}

.input {
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #9a4444;
  border-radius: 8px;
}