.MainPage {
  padding: 20px 20px 20px 45px;
  height: 100vh;
  width: 100%;
  overflow: auto;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  gap: 100px;
}

@media screen and (max-width: 770px) {
  .container {
    padding: 80px 10px;
  }
}

@media screen and (max-width: 550px) {
  .MainPage {
    padding: 10px 10px 10px 10px;
  }

  .container {
   gap: 40px;
  }
}